### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import os

In [32]:
# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [33]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [34]:
#school_data.head(1) #can delete after

In [35]:
#student_data.head(1) #can delete after

In [37]:
# Combine the two data sets into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head() #can delete after

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
# Verify the data merged is clean.  
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [38]:
# Calculate the total number of schools
#school_count = len(school_data_complete["school_name"].unique())
#school_count
#print(school_count)

# Calculate the total number of schools
school_count_a = float(len(school_data))
#school_count_a
#print(school_count_a)

In [39]:
# Calculate the number of students
#student_count = len(school_data_complete["student_name"].unique())
#student_count
#print(student_count)

# Calculate the number of students
student_count_a = float(school_data["size"].sum())
#print(student_count_a)

In [40]:
# Calculate the total budget
total_budget = float(school_data["budget"].sum())
#total_budget

In [41]:
# Calculate the avergae math score
avg_math = float(student_data["math_score"].mean())
#avg_math

In [42]:
# Calculate the avergae reading score
avg_reading = float(student_data["reading_score"].mean())
#avg_reading

In [43]:
# Calculate the percentage with a passing math score (70 or higher)
# Calculate the percentage with a passing reading score (70 or higher)
# Create the bins in which Data will be held
bins = [0, 69.9, 100]

# Create the names for the five bins
group_names = ["Fail", "Pass"]

# Cut the DataFrame into the groups identified and place in a new column
student_data["math_score_summary"] = pd.cut(student_data["math_score"], bins, labels=group_names, include_lowest=True)
student_data["reading_score_summary"] = pd.cut(student_data["reading_score"], bins, labels=group_names, include_lowest=True)
#student_data.head()

In [44]:
# Create a grouping based off the summary of the math score
student_data_math = student_data.groupby("math_score_summary")
student_data_reading = student_data.groupby("reading_score_summary")

# Calculate the % of pass and fail
student_math_summary = student_data_math["math_score_summary"].count()
student_reading_summary = student_data_reading["reading_score_summary"].count()
student_math_summary_df = pd.DataFrame((student_math_summary/student_count_a)*100)
student_reading_summary_df = pd.DataFrame((student_reading_summary/student_count_a)*100)

# Store the passing percentages
student_math_summary_pass = float(student_math_summary_df.loc["Pass", "math_score_summary"])
student_reading_summary_pass = float(student_reading_summary_df.loc["Pass", "reading_score_summary"])
#print(student_math_summary_pass)
#print(student_reading_summary_pass)

# Print the dataframes
#print(student_math_summary_df)
#print(student_reading_summary_df)

In [46]:
# Calculate the percentage of students who passed both the math and reading

# Define a procedure to compare the math and reading scores and output a Pass or Fail for the total score
def compare(row):
    if row["math_score_summary"] == "Pass" and row["reading_score_summary"] == "Pass":
        total_score = "Pass"
    else:
        total_score = "Fail"
    return total_score

# Apply the procedure to the student_data DataFrame
student_data["total_score_summary"] = student_data.apply(compare, axis=1)
#student_data.head()

# Create a grouping bassed off the summary of the total score
student_data_total = student_data.groupby("total_score_summary")

#Calculate the % of pass and fail
student_total_summary = student_data_total["total_score_summary"].count()
student_total_summary_df = pd.DataFrame((student_total_summary/student_count_a)*100)

# Store the passing percentage
student_total_summary_pass = float(student_total_summary_df.loc["Pass", "total_score_summary"])
#print(student_total_summary_pass)

# Print the dataframe
#print(student_total_summary_df)

In [47]:
# Create a district summary DataFrame with the results
district_summary_df = pd.DataFrame({
    "Total # of Schools": [school_count_a],
    "Total # of Students":[student_count_a],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math], 
    "Average Reading Score": [avg_reading],
    "% of Students Passing Math": [student_math_summary_pass], 
    "% of Students Passing Reading": [student_reading_summary_pass],
    "% of Students Passing Both": [student_total_summary_pass]
})
#district_summary_df

In [48]:
# Format the data in the summary DataFrame
district_summary_df["Total # of Schools"] = district_summary_df["Total # of Schools"].astype(float).map("{:,.0f}".format)
district_summary_df["Total # of Students"] = district_summary_df["Total # of Students"].astype(float).map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].astype(float).map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].astype(float).map("{:.2f}".format)
district_summary_df["% of Students Passing Math"] = district_summary_df["% of Students Passing Math"].astype(float).map("{:.2f}%".format)
district_summary_df["% of Students Passing Reading"] = district_summary_df["% of Students Passing Reading"].astype(float).map("{:.2f}%".format)
district_summary_df["% of Students Passing Both"] = district_summary_df["% of Students Passing Both"].astype(float).map("{:.2f}%".format)
district_summary_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Both
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [28]:
# Generate a count of the students per school based on the value counts per school, create a DataFrame, and rename the columns
school_list = school_data_complete["school_name"].value_counts()
school_list_df = pd.DataFrame(school_list)
school_list_df = school_list_df.rename(columns={"school_name": "Total Students"})

# Reset the index of the DataFrame to do the merge based on school name to pull in the students in the school and the budget of the school
school_list_df = school_list_df.reset_index()
school_list_df = school_list_df.rename(columns={"index": "School Name"})
school_list_summary_df = school_list_df.merge(school_data, left_on="School Name", right_on="school_name")

# Delete the old School ID and the duplicate school name
school_list_summary_df = school_list_summary_df.drop(columns=["School ID", "school_name", "size"])

# Calculate the Per Student Budget
school_list_summary_df["Per Student Budget"] = school_list_summary_df["budget"]/school_list_summary_df["Total Students"]

In [29]:
# Replace the Pass/Fail with a 1 for Pass and 0 for Fail in order to sum the students in each school who passed each subject.
student_data_adj = student_data
student_data_adj = student_data_adj.replace("Pass", 1)
student_data_adj = student_data_adj.replace("Fail", 0)

# Change the data type of the score summaries into integers so that statistical functions can be run.
student_data_adj = student_data_adj.astype({"math_score_summary": int, "reading_score_summary": int, "total_score_summary": int})

In [30]:
# Establish a grouping of the student data by school name
school_grade_summary = student_data_adj.groupby(["school_name"])

# Determine the average math score by school.  Rename the column.
school_math_avg = pd.DataFrame(school_grade_summary["math_score"].mean())
school_math_avg = school_math_avg.rename(columns={"math_score": "Avg Math Score"})

# Determine how many students passed math
school_math_summary = pd.DataFrame(school_grade_summary["math_score_summary"].sum())

# Determine the average reading score by school.  Rename the column.
school_reading_avg = pd.DataFrame(school_grade_summary["reading_score"].mean())
school_reading_avg = school_reading_avg.rename(columns={"reading_score": "Avg Reading Score"})

# Determine how many students passed reading
school_reading_summary = pd.DataFrame(school_grade_summary["reading_score_summary"].sum())

# Determine how many students passed both math and reading
school_total_summary = pd.DataFrame(school_grade_summary["total_score_summary"].sum())

# Merge the above analysis (average math, average reading, total passing math, total passing reading, and total passing both into a single DataFrame
school_grade_sumamry_df = school_math_avg.merge(school_reading_avg, on="school_name")
school_grade_sumamry_df = school_grade_sumamry_df.merge(school_math_summary, on="school_name")
school_grade_sumamry_df = school_grade_sumamry_df.merge(school_reading_summary, on="school_name")
school_grade_sumamry_df = school_grade_sumamry_df.merge(school_total_summary, on="school_name")

# Reset the index of the DataFrame to allow the school name to be a column.  Rename the column.
school_grade_sumamry_df = school_grade_sumamry_df.reset_index()
school_grade_sumamry_df = school_grade_sumamry_df.rename(columns={"school_name": "School Name"})

# Merge the school test summary DataFrame into the basic school list DataFrame.
school_list_complete = school_list_summary_df.merge(school_grade_sumamry_df, on="School Name")

# Perform calculations to determine the % of students passing math, reading and both subjects based on the total school population
school_list_complete["% Passing Math"] = school_list_complete["math_score_summary"]/school_list_complete["Total Students"]*100
school_list_complete["% Passing Reading"] = school_list_complete["reading_score_summary"]/school_list_complete["Total Students"]*100
school_list_complete["% Passing Both"] = school_list_complete["total_score_summary"]/school_list_complete["Total Students"]*100

# Rename the columns for final formatting
school_list_complete = school_list_complete.rename(columns={"type": "School Type"})
school_list_complete = school_list_complete.rename(columns={"budget": "Total School Budget"})

# Drop the columns that were used for calculations but no longer needed for the summary
school_list_complete = school_list_complete.drop(columns= ["math_score_summary", "reading_score_summary", "total_score_summary"])

# Perform final formatting of the values of the summary table.
school_list_complete["Total Students"] = school_list_complete["Total Students"].astype(int).map("{:,.0f}".format)
school_list_complete["Total School Budget"] = school_list_complete["Total School Budget"].astype(float).map("${:,.2f}".format)
school_list_complete["Per Student Budget"] = school_list_complete["Per Student Budget"].astype(float).map("${:,.2f}".format)
school_list_complete["Avg Math Score"] = school_list_complete["Avg Math Score"].astype(float).map("{:.2f}".format)
school_list_complete["Avg Reading Score"] = school_list_complete["Avg Reading Score"].astype(float).map("{:.2f}".format)
school_list_complete["% Passing Math"] = school_list_complete["% Passing Math"].astype(float).map("{:.2f}%".format)
school_list_complete["% Passing Reading"] = school_list_complete["% Passing Reading"].astype(float).map("{:.2f}%".format)
school_list_complete["% Passing Both"] = school_list_complete["% Passing Both"].astype(float).map("{:.2f}%".format)

# Set the School Name as the DataFrame index
school_list_complete = school_list_complete.set_index("School Name")

# Display the final summary table.
school_list_complete

,Total Students,School Type,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
School Name,,,,,,,,,
Bailey High School,"4,976",District,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Johnson High School,"4,761",District,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Hernandez High School,"4,635",District,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Rodriguez High School,"3,999",District,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,"2,949",District,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,"2,917",District,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Ford High School,"2,739",District,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Wilson High School,"2,283",Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Cabrera High School,"1,858",Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Wright High School,"1,800",Charter,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%
Shelton High School,"1,761",Charter,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,"1,635",Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,"1,468",Charter,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Pena High School,962,Charter,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Holden High School,427,Charter,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%

In [ ]:
school_data_complete.dtypes

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type